<div class="flex justify-end text-end">
  <div class="lg:w-1/4 md:w-full sm:w-full p-4 rounded-lg bg-gray-100">
    <h4 class="text-3xl">Total Expenses</h4>
    <h1 class="text-2xl font-bold">
      <span class="text-red-600">৳ {{ totalExpenses$.value }}</span>
    </h1>
  </div>
</div>

<!-- Use flex with responsive widths and overflow handling -->
<div class="flex flex-wrap">
  <!-- Bar Chart -->
  <div class="w-full lg:w-1/2 p-4">
    <div class="max-w-full overflow-hidden">
      <h2 class="text-2xl font-semibold mb-5 mt-3">Yearly Expenses</h2>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="yearWiseExpenseList$ | async"
        [gradient]="true"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="false"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="w-full lg:w-1/2 p-4">
    <div class="max-w-full overflow-hidden">
      <h2 class="text-2xl font-semibold mb-5 mt-3">Category wise Expenses</h2>
      <ngx-charts-pie-chart
        [view]="view"
        [results]="categoryWiseExpenseList$ | async"
        [doughnut]="false"
        [legend]="false"
        [labels]="true"
        [explodeSlices]="false"
        [gradient]="true"
        [animations]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
