<div class="flex flex-row p-4">
  <div class="basis-1/4">
    <div class="flex flex-col">
      <div class="max-w-sm rounded overflow-hidden shadow-md mb-2">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Categories</div>
          <hr>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-md mb-2">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Sort</div>
          <hr>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-md">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Writers</div>
          <hr>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="basis-3/4">
    <div class="flex flex-row-reverse">
      <div>
        <button mat-flat-button color="primary" class="font-mono hover:opacity-50"><i class="fa-solid fa-plus"></i> ADD
          BOOK</button>
      </div>
    </div>
    <section *ngIf="booklist.length > 0" class="text-gray-600 body-font">
      <div class="container mx-auto">
        <div class="flex flex-wrap">
          <div *ngFor="let book of booklist" class="p-4 md:w-1/4">
            <div class="h-full rounded-lg overflow-hidden shadow-md  hover:shadow-lg">
              <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://dummyimage.com/720x400"
                alt="blog">
              <div class="p-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{book.category}}</h2>
                <h1 class="title-fontfont-medium text-gray-900 mb-1">{{book.name}}</h1>
                <p class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{book.writer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>