// styles.scss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.scss */
@import '~@fortawesome/fontawesome-free/css/all.css';

.snackbar-failed {
    background-color: aliceblue;
    color: red !important;
}

.snackbar-success {
    background-color: aliceblue;
    color: green;
}

