<div class="flex items-center justify-center h-screen">
	<mat-card class="shadow-lg w-96">
		<mat-card-content>
			<div class="flex justify-center mb-6 mt-6">
				<p class=" text-indigo-800 font-mono font-bold" style="font-size: 20px">REGISTRATION</p>
			</div>
			<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
				<mat-form-field class="w-full h-auto">
					<mat-label>Name</mat-label>
					<input matInput formControlName="displayName" class="rounded-md border border-gray-300 p-2"
						placeholder="Enter your Name">
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" class="rounded-md border border-gray-300 p-2"
						placeholder="Enter your Email">
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Password</mat-label>
					<input matInput formControlName="password" type="password" class="rounded-md border border-gray-300 p-2"
						placeholder="Enter your password">
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>Confirm Password</mat-label>
					<input matInput formControlName="confirmPassword" type="password"
						class="rounded-md border border-gray-300 p-2" placeholder="Confirm Password">
					<mat-error *ngIf="passwordMatchError">
						Password does not match
					</mat-error>
				</mat-form-field>
				<button mat-flat-button color="primary" class="w-full"
					[disabled]="registerForm.invalid || isButtonDisabled">Register</button>
				<p class="pt-6 font-sans">Already have an account? <span class="text-blue-500 font-sans"><a
							routerLink="/login">Login</a></span></p>
			</form>
		</mat-card-content>
	</mat-card>
</div>